@import 'category-page/top';

.category {
    &__inner {
        padding: 80px 0 120px;
        background-color: #eff1f5;

        @include r(940) {
            padding: 60px 0;
        }
    }

    &__wrapper {
        display: flex;

        @include r(1023) {
            flex-direction: column;
            margin-right: 0;
        }

        @include r(500) {

            margin-right: 0;
        }
    }
}

@import 'category-page/aside';
@import 'category-page/products';