html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    @extend %quicksand-regular;
    font-size: 16px;
    line-height: 30px;
    color: $text;
}

.likes,
.purchases {
    display: flex;
    align-items: center;
    .lnr {
        margin-right: 8px;
    }
    .lnr-heart {
        color: $pink;
    }
    .lnr-cart {
        color: $blue;
    }
}

.likes {
    color: $pink;
}

.purchases {
    color: $blue;
}

.author {
    display: flex;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.author-name {
    color: #000;
}

.category {
    position: relative;
    font-size: 15px;
    color: $pink;
}