html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    @extend %quicksand-regular;
    font-size: 16px;
    line-height: 30px;
    color: $text;
}