$text: #555555;
$gray: #676767;
$blue: #0674ec;
$pink: #7347c1;
$red: #ff6a6c;
$green: #62d03a;
$bg-blue: #2b4ed0;

@mixin reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin r($width) {
    @media only screen and (max-width: $width+ "px") {
        @content;
    }
}

@mixin rmin($width) {
    @media only screen and (min-width: $width+ "px") {
        @content;
    }
}