%quicksand-regular {
    font-family: 'Quicsand', sans-serif;
    font-weight: 400;
}

%quicksand-medium {
    font-family: 'Quicsand', sans-serif;
    font-weight: 500;
}

%quicksand-bold {
    font-family: 'Quicsand', sans-serif;
    font-weight: 700;
}

$text: #555555;
$blue: #0674ec;