@import 'vars';
@import 'global';
@import 'fonts';
.header {
    &__top {
        background-color: #eef1f3;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__logo {
        margin-left: 7px;
    }
    &__top-links {
        margin-left: auto;
        margin-right: 48px;
        display: flex;
    }
    &__btn {
        margin-right: 50px;
        padding: 4px 18px;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        background-color: $blue;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        transition: all .3s;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
        &:active {
            box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.66);
        }
    }
    &__icons,
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__icons-item {
        height: 20px;
    }
    &__icons-item+&__icons-item {
        margin-left: 30px;
    }
    &__user {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 22px;
    }
    &__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 20px;
    }
    &__user-name {
        @extend %quicksand-medium;
        color: #333333;
    }
    &__user-balance {
        @extend %quicksand-regular;
        color: #0674ec;
    }
    &__nav-inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item+&__item {
        margin-left: 34px;
    }
    &__link {
        @extend %quicksand-medium;
        font-size: 15px;
        color: #333333;
        text-transform: uppercase;
        transition: all .3s;
        &:hover {
            color: $blue;
        }
        &:active {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
    }
    &__link--active {
        color: $blue;
    }
    &__search {
        max-width: 360px;
        width: 100%;
        position: relative;
    }
    &__search-input {
        border: 1px solid #e4e8ed;
        padding: 8px 22px;
        padding-right: 90px;
        width: 100%;
        font-size: 15px;
        line-height: 30px;
        color: #898f96;
        border-radius: 23px;
        outline: transparent;
    }
    &__search-input::placeholder {
        @extend %quicksand-regular;
        font-size: 15px;
        line-height: 30px;
        color: #898f96;
    }
    &__search-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 27px;
        border-radius: 23px;
        background-color: $blue;
        font-size: 0;
        border: none;
        outline: transparent;
        cursor: pointer;
        &:active {
            box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.66);
        }
    }
}

.lnr {
    width: 1em;
    height: 1em;
    font-size: 18px;
    position: relative;
    fill: currentColor;
}

.lnr-magnifier {
    color: #fff;
}

.header__icon {
    font-size: 0;
    position: relative;
}

.header__icon--alarm::after,
.header__icon--envelope::after,
.header__icon--cart::after {
    position: absolute;
    padding: 2px 6px;
    top: -16px;
    right: -16px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
}

.header__icon--alarm::after {
    content: "25";
    background-color: #ff6a6c;
}

.header__icon--envelope::after {
    content: "6";
    background-color: #62d03b;
}

.header__icon--cart::after {
    content: "2";
    background-color: #0674ec;
}

.greeting {
    background-color: $bg-blue;
    color: #fff;
    text-align: center;
    padding: 165px 220px;
    position: relative;
    &__title {
        margin-bottom: 35px;
        font-size: 60px;
        line-height: 70px;
        span {
            display: block;
            @extend %quicksand-bold;
        }
    }
    &__text {
        @extend %quicksand-medium;
        font-size: 20px;
        margin-bottom: 65px;
    }
    &__buttons {}
    &__btn+&__btn {
        margin-left: 30px;
    }
    &__btn {
        padding: 11px 30px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #fff;
        border-radius: 27px;
        background-color: transparent;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: $bg-blue;
        }
        &:active {
            box-shadow: inset 0px 3px 0 0px rgba(0, 0, 0, 0.66);
        }
    }
    &__search {
        position: absolute;
        z-index: 3;
        bottom: -66px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: 1140px;
        padding: 40px;
        background-color: #fff;
        display: flex;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        &::after,
        &::before {
            position: absolute;
            content: "";
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 135px;
            border-radius: 6px;
            opacity: 0.502;
            z-index: -1;
        }
        &::before {
            width: 97%;
            top: -13px;
            background-image: url(../images/search-bg-1.jpg);
        }
        &::after {
            // z-index: 1;
            width: 94%;
            top: -26px;
            background-image: url(../images/search-bg-2.jpg);
        }
    }
    &__input {
        max-width: 610px;
        padding: 0 28px;
        width: 100%;
        height: 55px;
        border: 1px solid #dcdcdc;
        &::placeholder {
            @extend %quicksand-regular;
            font-size: 16px;
            color: $gray;
        }
    }
    &__list {
        margin-right: 30px;
        max-width: 195px;
        padding: 15px;
        width: 100%;
        height: 55px;
        border: 1px solid #dcdcdc;
        border-left: none;
        -webkit-appearance: none;
        background: url(../images/icons/arrow-down.svg) no-repeat right;
        background-position-x: 160px;
    }
    &__search-btn {
        padding: 7px 66px;
        line-height: 42px;
        border: none;
        border-radius: 4px;
        height: 55px;
        background-color: $blue;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            background-color: $bg-blue;
        }
        &:active {
            box-shadow: inset 0px 3px 0 0px rgba(0, 0, 0, 0.66);
        }
    }
}

.benefits {
    padding: 190px 0 120px;
    &__inner {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        position: relative;
        padding: 190px 30px 50px;
        max-width: 360px;
        border-radius: 4px;
        transition: all .3s;
        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &__item-1::before,
    &__item-2::before,
    &__item-3::before {
        content: "";
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 112px;
        height: 120px;
        background-repeat: no-repeat;
    }
    &__item-1::before {
        background-image: url(../images/icons/benefits-icon-1.png);
    }
    &__item-2::before {
        background-image: url(../images/icons/benefits-icon-2.png);
    }
    &__item-3::before {
        background-image: url(../images/icons/benefits-icon-3.png);
    }
    &__title {
        margin-bottom: 30px;
        font-size: 24px;
        color: #000;
    }
    &__text {}
}