.category {
    &__products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;

        &--list {
            margin-right: 0;
        }


    }

    &__card {
        box-shadow: 0px 2px 4px 0 rgba(108, 111, 115, 0.1);
        max-width: calc(100% / 3 - 30px);
        width: 100%;
        margin-right: 30px;
        margin-bottom: 28px;
        transition: all .5s;
        border-radius: 4px;
        background-color: #fff;

        &--list {
            display: flex;
            max-width: 100%;
            width: 100%;
            margin-right: 0;
            height: 210px;

            &::after {
                display: none;
            }

            .category__card-top {
                max-width: 230px;
                width: 100%;
                height: 210px;
            }

            .category__card-text {
                display: block;
                min-height: 50px;
                max-height: 50px;
                overflow: hidden;
                margin-bottom: 24px;
            }
        }

        @include r(1023) {
            margin-right: 15px;
            max-width: calc(100% / 3 - 15px);

            &--list {
                max-width: 100%;
                margin-right: 0;
            }
        }

        @include r(800) {
            &--list {
                .category__card-top {
                    max-width: 190px;
                }
            }
        }

        @include r(767) {
            max-width: calc(50% - 15px);

        }

        @include r(500) {
            max-width: 100%;
            margin-right: 0;
        }

        @include r(767) {
            &.card::after {
                bottom: 60px;
            }
        }
    }

    &__card-top {
        height: 160px;
        transition: all .3s;
    }

    &__image-buttons {
        flex-direction: column;
    }

    &__image-btn {
        &+& {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &__card-info {
        padding: 18px 19px 0;
        display: block;

        &--list {
            display: none;
            padding: 29px 0 29px 20px;
        }

        &.disabled {
            display: none;
        }
    }

    &__card-info--list {

        &.active {
            display: flex;
            width: 100%;

            .category__card-description {
                display: block;
            }
        }
    }

    &__card-name {
        display: block;
        margin-bottom: 11px;
        max-height: 48px;
        font-size: 18px;
        line-height: 24px;
        white-space: normal;
    }

    &__card-text {
        display: none;
    }

    &__card-author {
        margin-bottom: 5px;
    }

    &__author-name {
        padding-left: 35px;
    }

    &__card-avatar {
        width: 28px;
        height: 28px;
    }

    &__card-rate {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    &__card-purchases {
        display: inline-block;
        border: none;
        margin-left: auto;
    }

    &__card-bottom {
        display: flex;
        align-items: center;
        height: 60px;

        @include r(767) {
            .category__card-price {
                order: -1;
            }
        }
    }

    &__card-category {
        display: inline-block;
        margin-left: auto;
        padding-left: 20px;
    }

    &__card-description {
        max-width: 239px;
        width: 100%;
        padding-right: 30px;
        border-right: 1px solid #ececec;

        @include r(1023) {
            max-width: 40%;
        }

        @include r(940) {
            max-width: 35%;
        }
    }

    &__card-popularity {
        max-width: 206px;
        width: 100%;
        padding: 0 30px 0 20px;
        border-right: 1px solid #ececec;

        .category__card-author {
            margin-top: 17px;
            margin-bottom: 20px;
        }

        .likes {
            margin-bottom: 6px;

            &::before {
                font-size: 15px;
                color: $pink;
            }

        }

        .category__card-comments {
            display: inline-block;

            &::before {
                font-family: 'Linearicons-Free';
                font-size: 15px;
                color: $pink;
            }
        }

        @include r(1023) {
            max-width: 35%;
        }

        @include r(940) {
            max-width: 40%;
        }
    }

    &__card-purchase {
        max-width: 150px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .category__card-price {
            margin-bottom: 30px;
        }

        .category__card-purchases {
            margin-left: 0;
        }

        @include r(1023) {
            max-width: 25%;
        }

    }

    &__card-stars {
        display: inline-block;
    }

    &__card-number {
        display: inline-block;
        color: #6f7d8d;
        font-size: 15px;
        margin-left: 20px; 
        margin-top: -2px;
    }
}