@import '../vars';

.breadcrumbs {
    padding-bottom: 9px;

    &--login,
    &--product {
        min-height: 180px;
        padding-top: 50px;
        background: linear-gradient(270deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);
        height: auto;

        .breadcrumbs__title {
            display: block;
        }
    }
    &--category { 
        text-align: center;
    }

    &__title {
        display: none;
        font-size: 30px;
        font-weight: 500;
        color: #fff;
    }

    &__inner {
        &--center {
            text-align: center;
        }
    }

    &__list {
        @include reset;
        margin-bottom: 13px;

        &--top {
            margin-bottom: 15px;
        }
    }

    &__item {
        display: inline-block;
        font-size: 15px;
        position: relative;

        &+& {
            padding-left: 13px;
            margin-left: 6px;
        }

        &+&::before {
            content: "/";
            color: #fff;
            position: absolute;
            left: 0;
        }
    }

    &__link {
        color: #fff;

        &--current {
            color: #bfcad7;
        }
    }
}