.footer {
    &__top {
        padding: 113px 115px 103px;
        background-color: #262b30;
        line-height: 26px;

        @include r(1400) {
            padding: 116px 0 103px;
        }

        @include r(1150) {
            padding: 50px 0 30px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include r(1150) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        max-width: 180px;
        width: 100%;
        font-size: 15px;
        color: #ababab;

        &--info {
            max-width: 295px;
            padding-right: 15px;

            .footer__content {
                margin-top: 18px;
            }

            margin-right: 32px;
        }

        &--company {
            margin-right: 51px;
        }

        &--newsletter {
            max-width: 360px;
        }

        @include r(1150) {
            margin-right: 0;
            padding-right: 0;

            &--info,
            &--newsletter {
                max-width: 100%;
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
            }

            &--newsletter {
                margin-bottom: 0;
                margin-top: 30px;
            }
        }

        @include r(500) {
            max-width: 100%;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__content {
        margin-top: 24px;
        font-style: normal;
    }

    &__list {
        @include reset;
    }

    &__title {
        margin-top: 15px;
        font-size: 18px;
        color: #fff;
    }

    &__text {
        margin-top: 21px;
        margin-bottom: 19px;
    }

    &__link {
        display: inline-block;
        padding-left: 30px;
        margin-bottom: 10px;
        transition: all .3s;
        position: relative;

        &:hover {
            color: #fff;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Linearicons-Free';
            font-size: 16px;
            color: #fff;
        }

        &--phone {
            &::before {
                content: "\e830";
            }
        }

        &--email {
            &::before {
                content: "\e818";
            }
        }

        @include r(1150) {
            display: block;
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    &__address {
        padding-left: 30px;
        position: relative;

        &::before {
            content: "\e833";
            position: absolute;
            top: 12px;
            left: 0;
            font-family: 'Linearicons-Free';
            font-size: 16px;
            color: #fff;
        }

        @include r(1150) {
            width: fit-content;
            margin: 0 auto;

            &::before {
                top: 2px;
            }
        }

        @include r(500) {
            padding-left: 20px;
        }
    }

    &__list-item {
        transition: all .3s;

        &:hover {
            color: #fff;
        }

        &+& {
            margin-top: 6px;
        }
    }

    &__form {
        position: relative;
        margin-top: 34px;
        margin-bottom: 47px;

        @include r(1150) {
            max-width: 60%;
            margin: 0 auto 47px;
        }

        @include r(768) {
            max-width: 95%;
            margin: 0 auto 47px;
        }
    }

    &__input {
        width: 100%;
        height: 50px;
        padding-left: 30px;
        padding-right: 115px;
        outline: transparent;

        font-size: 15px;
        color: #000;
        border-radius: 25px;
        transition: all .3s;
        border: 2px solid transparent;

        &::placeholder {
            font-size: 15px;
            color: #ababab;
        }

        &:hover {
            border-color: rgb(71, 190, 181);
        }

        &:focus {
            border-color: $pink;
        }

    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0px;
        padding: 17px 31px;
        background-color: $blue;
        border-radius: 25px;
        border: none;

        &:hover {
            opacity: .8;
        }

        &:active {
            box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        }
    }

    &__social-item {
        &+& {
            margin-left: 9px;
        }
    }

    &__copy {
        padding: 40px 0 35px;
        background-color: #192027;
        text-align: center;
        font-size: 15px;
        color: #999999;

        span {
            color: #fff;
        }

        @include r(500) {
            padding: 15px 0;
        }
    }

    @include r(380) {
        &__social-link {
            width: 37px;
            height: 37px;
        }
    }
}