.guarantee {
    padding: 60px 0 54px;
    background-color: #fff;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: #e8eaf3;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include r(1150) {
            flex-wrap: wrap;
        }
    }

    &__item {
        text-align: center;
        max-width: 391px;
        font-size: 24px;
        color: #000;

        @include r(1150) {
            max-width: 50%;
            width: 100%;

            &--1,
            &--2 {
                margin: 0 0 50px;
            }
        }

        @include r(768) {
            max-width: 100%;
        }
    }

    &__image {
        display: block;
        max-width: 180px;
        height: 130px;
        margin: 0 auto 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    @include r(1150) {
        padding: 60px 0 0;

        &::after {
            display: none;
        }
    }
}