.newest-products {
    padding: 133px 0;
    background-color: #f6f7fb;

    &__top {
        margin-bottom: 30px;
    }

    &__sort {
        position: relative;
        padding: 20px 0;

        &:hover .newest-products__filter-list {
            visibility: visible;
            opacity: 1;
        }
    }

    &__filter-btn {
        padding-right: 30px;
        background-color: transparent;
        border: none;
        color: #747b86;
        position: relative;
        cursor: pointer;
        transition: all .3s;
        outline: transparent;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height: 20px;
            background-image: url(../images/icons/filter-btn.svg);
        }

        &:hover,
        &:focus {
            color: #000;
        }

        &:active {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        @include r(768) {
            padding-right: 12px;
        }

        @include r(380) {
            display: none;
        }
    }

    &__filter-list {
        @include reset;
        position: absolute;
        top: 60px;
        right: -18px;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        list-style: none;
        border-radius: 3px;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        min-width: 170px;
        padding: 20px 25px;
        background-color: #fff;

        .newest-products__sort-btn {
            background-color: transparent;
            border: none;
            color: #747b86;
            font-size: 15px;
            line-height: 28px;
            outline: transparent;
            cursor: pointer;
            white-space: nowrap;
            transition: all .3s;

            &:hover {
                color: $blue;
            }

            &:active {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

            &.mixitup-control-active {
                color: $blue;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            right: 12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 9px 16px 9px;
            border-color: transparent transparent #fff transparent;
        }
    }

    &__filters {
        @include reset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        min-height: 90px;
        margin-bottom: 50px;
        padding: 20px;
        padding-left: 31px;
        list-style: none;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;

        .mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }

        @include r(768) {
            flex-wrap: nowrap;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 5px;
                background-color: rgba(0, 0, 0, 0.1);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: #000;
            }
        }

        @include r(500) {
            padding-left: 10px;
        }
    }

    &__filters-item {
        margin: 10px 0;
        margin-right: 7px;
    }

    &__btn {
        padding: 7px 18px;
        border: none;
        border-radius: 16px;
        color: #747b86;
        background-color: #f1f3f6;
        box-shadow: none;

        &:hover {
            background-color: $blue;
            color: #fff;
        }

        &:active {
            box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.66);
        }

        @include r(768) {
            white-space: nowrap;
        }
    }

    &__inner {
        overflow-x: hidden;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-right: -30px;

        @include r(1150) {
            justify-content: center;
        }

        @include r(768) {
            margin-right: 0;
        }
    }

    &__item {
        max-width: calc(100% / 3 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;

        @include r(1150) {
            max-width: 45%;
            margin: 0 15px 30px;
        }

        @include r(630) {
            max-width: 100%;
        }

        @include r(500) {
            max-width: 100%;
            margin: 0 0 30px;
        }
    }

    &__info {
        padding: 24px 28px 0;

        @include r(500) {
            padding: 15px 15px 0;
        }
    }

    &__text {
        max-height: 90px;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 20px;
        max-height: 30px;
        overflow: hidden;
    }

    &__author {
        margin-bottom: 26px;
    }

    &__author-name {
        margin-right: 16px;
        padding-left: 38px;

        @include r(768) {
            max-width: 145px;
            margin-right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__category {
        padding-left: 25px;
        @include r(768) {
            padding-left: 20px;
            margin-left: auto;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__rate {
        height: 60px;
        position: relative;
    }

    &__price {
        margin-right: 18px;

        &--range {
            padding: 0 13px;
        }
    }

    &__stars {
        margin-left: 15px;
    }

    &__purchases {
        margin-left: auto;

        @include r(500) {
            margin-left: 0;
        }
    }

    &__all-btn {
        display: block;
        margin: 23px auto 0;
        padding: 19px 33px;
        border: none;
        border-radius: 29px;
        outline: transparent;
        color: #747b86;
        cursor: pointer;
        background-color: #fff;
        transition: all .3s;

        &:hover {
            background-color: $blue;
            color: #fff;
        }

        &:active {
            box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.66);
        }

        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }
    }

    @include r(768) {
        padding: 50px 0;
    }
}