.news {
    padding: 120px 0;
    background-color: #eff1f5;

    &__title {
        text-align: center;
        margin-bottom: 26px;
        font-size: 36px;
        color: #000;
    }

    &__text {
        max-width: 720px;
        text-align: center;
        margin: 0 auto 55px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include r(1150) {
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 360px;
        max-height: 480px;
        border-radius: 4px;

        @include r(1150) {
            max-width: 48%;
            width: 100%;
            margin: 0 auto 40px;
        }

        @include r(768) {
            max-width: 100%;
        }
    }

    &__item-top {
        height: 230px;
        position: relative;
        border-radius: 4px 4px 0 0;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item-content {
        padding: 22px 24px 18px 28px;
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 0 0 4px 4px;
    }

    &__item-name {
        font-size: 22px;
        margin-bottom: 19px;
    }

    &__item-text {
        margin-bottom: 23px;
        max-height: 90px;
    }

    &__item-rate {
        height: 42px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;
    }

    &__item-left {
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 80%;
            top: 20%;
            right: 50%;
            transform: translateX(-50%);
            background-color: #ececec;
        }
    }

    &__item-stat {
        position: relative;
        transition: all .3s;

        &:hover {
            color: $blue;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &--date {
            padding-left: 21px;

            &::before {
                width: 16px;
                height: 15px;
                background-image: url(../images/icons/news-icon-1.svg);
            }
        }

        &--comments {
            padding-left: 27px;

            &::before {
                width: 17px;
                height: 15px;
                background-image: url(../images/icons/news-icon-2.svg);
            }
        }

        &--views {
            padding-left: 22px;
            margin-left: 25px;

            &::before {
                width: 16px;
                height: 16px;
                background-image: url(../images/icons/news-icon-3.svg);
            }
        }
    }

    @include r(768) {
        padding: 60px 0;
    }
}