.offer {
    display: flex;
    min-height: 560px;
    &__item {
        width: 50%;
        padding: 240px 0 90px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 99px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &--product {
            background-image: url(../images/offer-bg.jpg);
            &::before {
                width: 120px;
                height: 100px;
                background-image: url(../images/icons/offer-icon-1.svg);
            }
        }
        &--shopping {
            background-image: url(../images/offer-bg-2.jpg);
            &::before {
                width: 100px;
                height: 100px;
                background-image: url(../images/icons/offer-icon-2.svg);
            }
        }
    }
    &__title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 27px;
    }
    &__text {
        max-width: 600px;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 47px;
    }
    &__link {
        padding: 12px 27px;
        color: $blue;
        background-color: #fff;
        border-radius: 25px;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            box-shadow: inset 7px 7px 7px 7px rgba(0, 0, 0, 0.3);
        }
    }
}